<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="{{'General.Atras' | translate}}" defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-searchbar placeholder="{{'Establecimiento.Establecimiento' | translate}}" (ionChange)="onBuscarPlanChange($event)"
    inputmode="text" animated></ion-searchbar>

  <ion-item-divider color="secondary">
    <ion-label>{{'Establecimiento.Establecimiento' | translate}}</ion-label>
  </ion-item-divider>

  <ion-row>
    
    <ion-col size="12" size-lg="6" size-md="6" *ngFor="let visita of plan?.visitas  | filtro: textoBuscar: 'nombreEstablecimiento'">
      <ion-card class="tarjeta" [routerLink]="['/visita',visita.id, 'detalle']">
        <ion-card-header style="font-size: large;">
          <b>{{plan.cliente +  ' - ' + visita.nombreEstablecimiento}}</b>
        </ion-card-header>
        <ion-card-content style="font-size: x-small;">
          <hr>
          <ion-grid>
            <ion-row>
              <ion-col col-12><b>{{'General.Estado' | translate}}:</b> {{visita.estado}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-12><b>{{'General.Tipo' | translate}}:</b> {{visita.tipoVisita}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col *ngIf="visita.empleadoAsignado"><b>{{'Plan.Asignado_A' | translate}}:</b> {{visita.empleadoAsignado}}</ion-col>
              <ion-col *ngIf="!visita.empleadoAsignado"><b>{{'Plan.Asignado_A' | translate}}:</b> NA</ion-col>
            </ion-row>
            <ion-row>
              <ion-col><b>{{'Plan.Fecha_Pactada' | translate}}: </b> {{visita.fechaPactada | date:  'MM/yy'}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col *ngIf="visita.fecha"><b>{{'Plan.Fecha_Concreta' | translate}}: </b> {{visita.fecha | date: 'dd/MM/yy'}}</ion-col>
              <ion-col *ngIf="!visita.fecha"><b>{{'Plan.Fecha_Concreta' | translate}}: </b> NA</ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed"><!-- *ngIf="visita.empleadoId != null && visita.empleadoId == currentUser.empleadoId" -->
    <ion-fab-button>
      <ion-icon md="caret-up" ios="chevron-up-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="primary" [routerLink]="['/plan',plan.id,'visita','alta']">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="danger" (click)="cancelarPlan()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="success" (click)="completarPlan()">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
