<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Atras" defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card *ngFor="let visita of plan.visitas" [routerLink]="['/visita',visita.id, 'detalle']">
    <ion-card-header style="font-size: large;">
      <b>{{plan.cliente +  ' - ' + visita.nombreEstablecimiento}}</b>
    </ion-card-header>
    <ion-card-content style="font-size: x-small;">
      <ion-grid>
        <ion-row>
          <ion-col col-12><b>Estado:</b> {{visita.estado}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12><b>Tipo:</b> {{visita.tipoVisita}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col><b>Asignado A:</b> {{visita.empleadoAsignado}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col><b>Fecha Pactada: </b> {{visita.fechaPactada | date: 'shortDate'}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col><b>Fecha Concreta: </b> {{visita.fecha | date: 'shortDate'}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>
