<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="{{'General.Atras' | translate}}" defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>

    <ion-item-sliding *ngFor="let establecimiento of establecimientos; let i = index" >
      <ion-item>
        <ion-label class="ion-text-wrap" style="margin-left: 1em; text-align: center;">
          <h2>{{establecimiento.nombre}}</h2>
          <h3>{{establecimiento.direccion.calle +' '+ establecimiento.direccion.altura}}</h3>
          <h3>{{establecimiento.direccion.partidoNombre +', '+ establecimiento.direccion.provinciaNombre}}</h3>
          <p>Cantidad Ubicaciones: {{establecimiento.cantidadUbicaciones}}</p>
        </ion-label>
      </ion-item>
      <ion-item-options>
        <ion-item-option color="success" [routerLink]="['/establecimiento',establecimiento.id, 'detalle']" expandable>
          {{'General.Detalle' | translate}}
        </ion-item-option>
        <ion-item-option color="tertiary" [routerLink]="['/establecimiento',establecimiento.id, 'editar']" expandable>
          {{'General.Editar' | translate}}
        </ion-item-option>
<!--         <ion-item-option color="danger" expandable>
          {{'General.Borrar' | translate}} 
        </ion-item-option> -->
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/cliente',idCliente,'establecimiento','alta']" >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>