<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Atras" defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item-divider color="primary">
    <ion-label><b>Nueva Irregularidad</b></ion-label>
  </ion-item-divider>
  <form #form="ngForm" (ngSubmit)="onSubmit(form)" >
    <ion-item>
      <ionic-selectable
        item-content name="seleccioncliente"
        [(ngModel)]="clienteSeleccionado"
        itemValueField="id"
        itemTextField="nombre"
        [items]="clientes"
        [canClear]="true"
        [isMultiple]="false"
        name="clienteSeleccionado"
        [canSearch]="true"
        placeholder="Cliente"
        (onChange)="onClienteSeleccionado()" required>
      </ionic-selectable>
    </ion-item>

    <ion-item *ngIf="clienteSeleccionado">
      <ionic-selectable name="seleccionEstablecimiento"
        item-content
        [(ngModel)]="establecimientoSeleccionado"
        itemValueField="id"
        itemTextField="nombre"
        [items]="establecimientos"
        [canClear]="true"
        [isMultiple]="false"
        name="establecimientoSeleccionado"
        [canSearch]="true"
        placeholder="Establecimiento"
        (onChange)="onEstablecimientoSeleccionado()" required>
      </ionic-selectable>
    </ion-item>

    <buscar-ubicacion #buscadorUbicacionComponent [ubicaciones]="ubicaciones" [ngStyle]="{'display': establecimientoSeleccionado ? '' : 'none' }"></buscar-ubicacion>

    <ion-item>
      <ion-label position="stacked">Severidad</ion-label>
      <ion-select style="width: max-content;" name="tipoSeleccionado" [(ngModel)]="model.TipoId" placeholder='Severidad' required>
        <ion-select-option *ngFor="let tipo of tiposIrregularidad; let i = index" [value]="tipo.id" selected="i === 0">{{tipo.descripcion}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Descripcion</ion-label>
      <ion-textarea name="descipcion" placeholder="Descripcion Irregularidad" [(ngModel)]="model.descripcion" required></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-button (click)="selectImageSource()">
        <ion-icon name="camera"></ion-icon>
      </ion-button>
    </ion-item> 

    <ion-grid>
      <ion-row>
        <ion-col size-lg="8" size-md="8" size-sm="10" size-xs="10" offset-sm="1" offset-xs="1" offset-md="2" offset-lg="2">
          <ion-img [src]="imageBase64" *ngIf="imageBase64 != null"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-button type="submit" expand="block" fill="clear" [disabled]="form.invalid" shape="round">
      Alta
    </ion-button>

  </form>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <input
      type="file"
      #fileInput
      (change)="uploadFile($event)"
      hidden="true"
      accept="image/*"/>
  </ion-fab>
</ion-content>

