<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="{{'General.Atras' | translate}}" defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <ion-item-divider color="secondary">
      <ion-label>
        {{ 'Cliente.title'  | translate }}
      </ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label position="stacked">{{ 'General.Nombre'  | translate }}</ion-label>
      <ion-input
        placeholder="{{ 'General.Nombre'  | translate }}"
        name="Nombre"
        [(ngModel)]="model.nombre"
        required
      ></ion-input>
    </ion-item>
    <ion-item-divider color="tertiary">
      <ion-label>
        {{ 'General.Direccion'  | translate }}
      </ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label position="stacked">{{ 'General.Calle'  | translate }}</ion-label>
      <ion-input
        placeholder="{{ 'General.Calle'  | translate }}"
        name="direccion.Calle"
        [(ngModel)]="model.direccion.calle"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{ 'General.Altura'  | translate }}</ion-label>
      <ion-input
        placeholder="{{ 'General.Altura'  | translate }}"
        name="altura"
        [(ngModel)]="altura" OnlyNumberInputDirective></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{ 'General.Provincia'  | translate }}</ion-label>
      <ion-select style="width: max-content;" name="provinciaSeleccionada" [(ngModel)]="provinciaSeleccionada" placeholder="{{ 'General.Provincia'  | translate }}" 
        (ngModelChange)="actualizarPartidos($event)">
        <ion-select-option *ngFor="let provincia of provincias; let i = index" [value]="provincia" selected="i === 0">{{provincia.nombre}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="provinciaSeleccionada!= null">
      <ionic-selectable
        item-content
        [(ngModel)]="partidoSeleccionado"
        itemValueField="id"
        itemTextField="nombre"
        [items]="partidos"
        [canClear]="true"
        [isMultiple]="false"
        name="partidosSeleccionados"
        [canSearch]="true"
        placeholder="{{ 'General.Partido'  | translate }}">
      </ionic-selectable>
    </ion-item>

    <ion-item-divider color="tertiary">
      <ion-label>
        {{ 'General.Responsable'  | translate }}
      </ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label position="stacked">{{ 'General.Nombre'  | translate }}</ion-label>
      <ion-input
        placeholder="{{ 'General.Nombre'  | translate }}"
        name="responsable.Nombre"
        [(ngModel)]="model.responsable.nombre" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{ 'General.Apellido'  | translate }}</ion-label>
      <ion-input
        placeholder="{{ 'General.Apellido'  | translate }}"
        name="responsable.Apellido"
        [(ngModel)]="model.responsable.apellido" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{ 'General.CorreoElectronico'  | translate }}</ion-label>
      <ion-input type="email"
        placeholder="{{ 'General.CorreoElectronico'  | translate }}"
        name="responsable.CorreoElectronico"
        [(ngModel)]="model.responsable.correoElectronico" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-z]{2,4}$"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{ 'General.Telefono'  | translate }}</ion-label>
      <ion-input
        placeholder="{{ 'General.Telefono'  | translate }}"
        name="responsable.Telefono"
        [(ngModel)]="model.responsable.telefono" required OnlyNumberInputDirective></ion-input>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-avatar
          class="item-avatar center"
          style="border: black; border-style: solid;"
          (click)="selectImageSource()">

          <ion-img [src]="imageBase64" *ngIf="imageBase64 != null"></ion-img>
          <ion-img [src]="model.urlFoto" *ngIf="imageBase64 == null"></ion-img>
        </ion-avatar>
      </ion-row>
    </ion-grid>

    <ion-button type="submit" shape="round" fill="outline" slot="end" [disabled]="form.invalid">{{'Cliente.EditarCliente.Boton' | translate}}</ion-button>
  
  </form>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <input
      type="file"
      #fileInput
      (change)="uploadFile($event)"
      hidden="true"
      accept="image/*"
    />
  </ion-fab>
</ion-content>
