/* ion-item{
    --background: #3880ff;
    --color: #fff;
}
ion-button{
    --background: #062f77;
} */

.login-box {
    //margin: 1em;
    //width: 80%;
    padding: 1em;
    margin: 0 auto;
    background: white;
    border-radius: 15px;
    margin-top: 10em;
}

ion-content {
    //--background: none;
    //background-image: url('../../../../assets/img/login-back.png');
    --background: linear-gradient(150deg, rgba(128,127,126,1) 35%, rgba(181,190,193,1) 61%);
    background-repeat: no-repeat;
    background-size: cover;
}

.full-login-button{
    --background: cornflowerblue;
}

.outline-login-button{
    --border-color: cornflowerblue;
    --color: cornflowerblue;
}