<ion-header>
  <ion-toolbar>
    <ion-title>Agregar Ubicacion</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item-divider color="secondary">
    <ion-label>
    Ubicacion
    </ion-label>
  </ion-item-divider>
  <form #form="ngForm" (ngSubmit)="onAgregarUbicacion(form)" >
    <ion-item>
      <ion-label position="stacked">{{'General.Nombre' | translate}}:</ion-label>
      <ion-input placeholder="{{'General.Nombre' | translate}}" name="model.nombre" [(ngModel)]="model.nombre" required></ion-input>
    </ion-item>
    <ion-button shape="round" fill="outline" (click)="onAgregarUbicacion(form)">{{'Visita.AgregarVisita' | translate}}</ion-button>
  </form>
</ion-content>