<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Atras" defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
</ion-refresher>
<ion-item>
  <ion-label>Estado Visita: </ion-label>
  <ion-select name="estadoPlanAFiltrarId" [(ngModel)]="estadoVisitaAFiltrarId" multiple="false" placeholder="Estado Plan" (ngModelChange)="actualizarVisitasPorFiltros($event)">
    <ion-select-option  [value]=0> Todos </ion-select-option>
    <ion-select-option *ngFor="let estado of estadosVisitasPosibles" [value]="estado.id">{{estado.descripcion}}</ion-select-option>
  </ion-select>
</ion-item>
<ion-item>
  <ionic-selectable
      item-content
      [(ngModel)]="clienteAFiltrar"
      itemValueField="id"
      itemTextField="nombre"
      [items]="clientes"
      [canClear]="true"
      [isMultiple]="false"
      name="clientesPosibles"
      [canSearch]="true"
      placeholder="Clientes"
      class="colorTexto">
  </ionic-selectable>
</ion-item>

  <div class="page" *ngIf="clientes.length > 0">
    <div class="timeline" >
      <div class="timeline__group" *ngFor="let visita of visitas" >
        <span class="timeline__year">{{visita.fechaPactada | date:'yyyy'}}</span>
        <div class="timeline__box">
          <div class="timeline__date">
            <span class="timeline__day" *ngIf="visita.fecha">{{visita.fecha | date:'dd'}}</span>
            <span class="timeline__day" *ngIf="!visita.fecha">{{visita.fechaPactada | date:'dd'}}</span>
            <span class="timeline__month">{{visita.fechaPactada | date:'MMMM'}}</span>
          </div>
          <div class="timeline__post" >
            <div class="timeline__content" >
              <p><b>{{visita.nombreCliente + ' - ' + visita.nombreEstablecimiento}}</b></p>
              <p><b>Tipo visita: </b>{{visita.tipoVisita}}</p>
              <p><b>Asignado a: </b>{{visita.empleadoAsignado}}</p>
              <ion-button color="medium" [routerLink]="['/visita',visita.id, 'detalle']" size="small">Detalle</ion-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 
</ion-content>
