<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="{{'General.Atras' | translate}}" defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
</ion-refresher>
<ion-item>
  <ion-label>{{'Visita.Estado' | translate}}: </ion-label>
  <ion-select name="estadoPlanAFiltrarId" [(ngModel)]="estadoVisitaAFiltrarId" multiple="false" placeholder="{{'Cliente.EstadoPlan' | translate}}" (ngModelChange)="actualizarVisitasPorFiltros($event)">
    <ion-select-option  [value]=0> {{'General.Todos' | translate}} </ion-select-option>
    <ion-select-option *ngFor="let estado of estadosVisitasPosibles" [value]="estado.id">{{estado.descripcion}}</ion-select-option>
  </ion-select>
</ion-item>
<ion-item>
  <ionic-selectable
      item-content
      [(ngModel)]="clienteAFiltrar"
      itemValueField="id"
      itemTextField="nombre"
      [items]="clientes"
      [canClear]="true"
      [isMultiple]="false"
      name="clientesPosibles"
      [canSearch]="true"
      placeholder="{{'Cliente.Clientes' | translate}}"
      class="colorTexto">
  </ionic-selectable>
</ion-item>

<ion-row>
  <ion-col size="4" offset="4" style="top: 5em;text-align: center;">
    <ion-label *ngIf="visitas.length == 0"><b>{{'Visita.NoHayVisitasPendientes' | translate}}</b></ion-label>
  </ion-col>
</ion-row>

  <div class="page" *ngIf="visitas.length > 0">
    <div class="timeline" >
      <div class="timeline__group" *ngFor="let visita of visitas" >
        <span class="timeline__year">{{visita.fechaPactada | date:'yyyy'}}</span>
        <div class="timeline__box">
          <div class="timeline__date">
            <span class="timeline__day" *ngIf="visita.fecha">{{visita.fecha | date:'dd'}}</span>
            <span class="timeline__day" *ngIf="!visita.fecha">{{visita.fechaPactada | date:'dd'}}</span>
            <span class="timeline__month">{{visita.fechaPactada | date:'MMMM' : 'es-ES'}}</span>
          </div>
          <div class="timeline__post" >
            <div class="timeline__content" >
              <p><b>{{visita.nombreCliente + ' - ' + visita.nombreEstablecimiento}}</b></p>
              <p><b>{{'Visita.Tipo_Visita' | translate}}: </b>{{visita.tipoVisita}}</p>
              <p><b>{{'Plan.Asignado_A' | translate }}: </b>{{visita.empleadoAsignado}}</p>
              <p><b>{{'Visita.Estado' | translate }}: </b>{{visita.estado}}</p>
              <ion-button color="medium" [routerLink]="['/visita',visita.id, 'detalle']" size="small">{{'General.Detalle' | translate}}</ion-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 
</ion-content>
