<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Atras" defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form #form="ngForm" (ngSubmit)="onSubmit(form)" >
    <ion-item-divider color="primary" style="text-align: center;">
      <ion-label>
       {{'Irregularidad.Title' | translate}}
      </ion-label>
    </ion-item-divider>
      <ion-item>
        <ion-label> {{'Cliente.Cliente' | translate}}</ion-label>
        <ion-label><b>{{model.cliente}}</b></ion-label>
      </ion-item>
      <ion-item>
        <ion-label> {{'Establecimiento.Establecimiento' | translate}}</ion-label>
        <ion-label><b>{{model.establecimiento}}</b></ion-label>
      </ion-item>
      <ion-item>
        <ion-label> {{'General.Ubicacion' | translate}}</ion-label>
        <ion-label><b>{{model.ubicacion.nombre}}</b></ion-label>
      </ion-item>
      <ion-item>
        <ion-label> {{'General.Estado' | translate}}</ion-label>
        <ion-label><b>{{model.estado}}</b></ion-label>
      </ion-item>
      <ion-item>
        <ion-label> {{'Irregularidad.Severidad' | translate}}</ion-label>
        <ion-label><b>{{model.tipo}}</b></ion-label>
      </ion-item>
      <ion-item>
        <ion-label> {{'General.Descripcion' | translate}}</ion-label>
        <ion-label><b>{{model.descripcion}}</b></ion-label>
      </ion-item>
      <ion-item>
        <ion-label> {{'Irregularidad.Detectado_Por' | translate}}</ion-label>
        <ion-label><b>{{model.empleado}}</b></ion-label>
      </ion-item>
      <ion-item>
        <ion-label> {{'Irregularidad.Fecha_Deteccion' | translate}}</ion-label>
        <ion-label><b>{{model.fechaDeteccion}}</b></ion-label>
      </ion-item>

      <ion-item-divider style="text-align: center;" color="secondary">
        <ion-label><b> {{'Irregularidad.Evidencia' | translate}}</b></ion-label>
      </ion-item-divider>
      <ion-grid >
        <ion-row>
        <ion-col size-xs="10" offset-xs="1" size-sm="6" offset-sm="3" >
          <ion-img [src]="model.url"></ion-img>         
        </ion-col>
        </ion-row>
      </ion-grid>

      <ion-item>
        <ion-label position="floating"> {{'Irregularidad.Descripcion_Resolucion' | translate}}</ion-label>
        <ion-textarea placeholder="{{'Irregularidad.Descripcion_Resolucion' | translate}}" name="descripcionResolucion"  [(ngModel)]="model.descripcionResolucion" required></ion-textarea>
      </ion-item>

      <ion-button (click)="selectImageSource()">
        <ion-icon name="camera"> {{'Irregularidad.Evidencia_Resolucion' | translate}}</ion-icon>
      </ion-button>

      <ion-grid>
        <ion-row>
        <ion-col size-xs="10" offset-xs="1" size-sm="6" offset-sm="3"  >
          <ion-img [src]="imageBase64" *ngIf="imageBase64 != null"></ion-img>     
        </ion-col>
        </ion-row>
      </ion-grid> 

      <ion-button type="submit" shape="round" expand="block" fill="solid" slot="end"> {{'Irregularidad.Completar_Irregularidad' | translate}}</ion-button>

  </form>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <input
      type="file"
      #fileInput
      (change)="uploadFile($event)"
      hidden="true"
      accept="image/*"/>
  </ion-fab>
</ion-content>