<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button text="Atras" defaultHref="home"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
     <div *ngIf="controles.length > 0">
        <ion-list *ngFor="let control of controles" >
            <ion-item-divider color="secondary">
                <ion-label style="font-weight: bolder;">
                  {{control.ubicacion}}
                </ion-label>
            </ion-item-divider>
            <ion-item>
                <ion-label>Tipo Control: </ion-label>
                <ion-label>{{visita.tipoVisita.descripcion}}</ion-label>
            </ion-item>
            <ion-item>
                <ion-label>Fecha</ion-label>
                <ion-label>{{control.fecha.toDate()}}</ion-label>
            </ion-item>
            <ion-item button [routerLink]="['../control', control.id ,'mediciones']" detail="true">
                <ion-icon name="clipboard"></ion-icon>
                  Mediciones
            </ion-item>
    
        </ion-list>
    </div>
    <ion-label  *ngIf="controles.length == 0"> No hay Controles Realizados Aun</ion-label>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="visita.empleadoId != null && visita.empleadoId == currentUser.empleadoId">
        <ion-fab-button [routerLink]="['../controles','alta']" >
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>

</ion-content>
