<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button text="Atras" defaultHref="home"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>

      <ion-list>
        <ion-item-divider color="primary">
          <ion-label style="font-weight: bolder;">
            Detalle
          </ion-label>
      </ion-item-divider>
        <ion-item class="ion-text-wrap">
          <ion-label>Establecimiento: </ion-label>
          <ion-label>{{visita.establecimiento.nombre}} </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Tipo Visita: </ion-label>
          <ion-label>{{visita.tipoVisita.descripcion}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Fecha Pactada: </ion-label>
          <ion-label>{{visita.mesPactado.toString() + '/' + visita.anioPactado.toString()}}</ion-label>
        </ion-item>
        <ion-item button detail (click)="onEditarFechaClick()">
          <ion-label>Fecha De Visita: </ion-label>
          <ion-label *ngIf="visita.fecha != null">{{visita.fecha | date: 'd/MM/yy, H:mm'}}</ion-label>
          <ion-label *ngIf="visita.fecha == null"> NA </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Estado: </ion-label>
          <ion-label>{{visita.estado.descripcion}}</ion-label>
        </ion-item>
        <ion-item *appHasRole="['Coordinador']" button detail (click)="onEditarAuditorClick()">
          <ion-label>Asignado a: </ion-label>
          <ion-label *ngIf="visita.empleado != null">{{visita.empleado.apellido + ', ' + visita.empleado.nombre}}</ion-label>
          <ion-label *ngIf="visita.empleado == null"> NA </ion-label>
        </ion-item>
      </ion-list>

     <div *ngIf="controles.length > 0">
       <h4>Controles por Ubicacion:</h4>
        <ion-list *ngFor="let control of controles" >
            <ion-item-divider color="secondary">
                <ion-label style="font-weight: bolder;">
                  {{control.ubicacion}}
                </ion-label>
            </ion-item-divider>
            <ion-item>
                <ion-label>Fecha</ion-label>
                <ion-label>{{control.fecha.toDate() | date: 'd/MM/yy, H:mm'}}</ion-label>
            </ion-item>
            <ion-item button [routerLink]="['../control', control.id ,'mediciones']" detail="true">
                <ion-icon name="clipboard"></ion-icon>
                  Mediciones
            </ion-item>
    
        </ion-list>
    </div>
    <ion-label  *ngIf="controles.length == 0"> No hay Controles Realizados Aun</ion-label>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed"><!-- *ngIf="visita.empleadoId != null && visita.empleadoId == currentUser.empleadoId" -->
        <ion-fab-button  style="opacity: 0.5">
          <ion-icon md="caret-up" ios="chevron-up-circle-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
          <ion-fab-button color="primary" (click)="onAgregarControl()">
            <ion-icon name="add-circle-outline"></ion-icon>
          </ion-fab-button>
          <ion-fab-button color="danger" [routerLink]="['/irregularidad','establecimiento', visita.establecimientoId ,'alta']">
            <ion-icon name="alert-circle-outline"></ion-icon>
          </ion-fab-button>
          <ion-fab-button color="success" (click)="completarVisita()">
            <ion-icon name="checkmark-circle-outline"></ion-icon>
          </ion-fab-button>
        </ion-fab-list>
    </ion-fab>

</ion-content>
