<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button text="{{'General.Atras' | translate}}" defaultHref="home"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div padding>
    <ion-segment [(ngModel)]="vista" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="visitaDetalle">
        {{'Visita.Detalle' | translate}}
      </ion-segment-button>
      <ion-segment-button value="mapa">
        {{'General.Mapa' | translate}}
      </ion-segment-button>
    </ion-segment>
  </div>
  <div [ngSwitch]="vista">

    <div id="detalleVisita" *ngSwitchCase="'visitaDetalle'">
      <ion-list>
        <ion-item-divider color="primary">
          <ion-label style="font-weight: bolder;">
            {{'General.Detalle' | translate}}
          </ion-label>
        </ion-item-divider>
        <ion-grid fixed>
          <ion-row>
            <ion-col size="12" size-lg="6">
              <ion-item class="ion-text-wrap">
                <ion-label>{{'Establecimiento.Establecimiento' | translate}}: </ion-label>
                <ion-label>{{visita?.establecimiento?.nombre}} </ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="12" size-lg="6">
              <ion-item>
                <ion-label>{{'Visita.Tipo_Visita' | translate}}: </ion-label>
                <ion-label>{{visita?.tipoVisita?.descripcion}}</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="12" size-lg="6">
              <ion-item>
                <ion-label>{{'Plan.Fecha_Pactada' | translate}}: </ion-label>
                <ion-label>{{visita?.mesPactado.toString() + '/' + visita?.anioPactado.toString()}}</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="12" size-lg="6">
              <ion-item button detail (click)="onEditarFechaClick()">
                <ion-label>{{'Plan.Fecha_Concreta' | translate}}: </ion-label>
                <ion-label *ngIf="visita?.fecha != null">{{visita?.fecha | date: 'd/MM/yy, H:mm'}}</ion-label>
                <ion-label *ngIf="visita?.fecha == null"> NA </ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="12" size-lg="6">
              <ion-item>
                <ion-label>{{'General.Estado' | translate}}: </ion-label>
                <ion-label>{{visita?.estado.descripcion}}</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="12" size-lg="6">
              <ion-item *appHasPatente="'CambiarAuditorVisita'" button detail (click)="onEditarAuditorClick()">
                <ion-label>{{'Plan.Asignado_A' | translate}}: </ion-label>
                <ion-label *ngIf="visita?.empleado != null">{{visita?.empleado.apellido + ', ' + visita?.empleado.nombre}}</ion-label>
                <ion-label *ngIf="visita?.empleado == null"> NA </ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>
  
      <div *ngIf="controles.length > 0">
        <ion-item-divider color="primary">
        <ion-label style="font-weight: bolder;text-align: center;">
          {{'Control.ControlesporUbicacion' | translate}}
        </ion-label>
      </ion-item-divider>
        <ion-list *ngFor="let control of controles" style="padding-top: 0px !important;">
            <ion-item-divider color="secondary">
                <ion-label style="font-weight: bolder;">
                  {{control.ubicacion}}
                </ion-label>
                <ion-button slot="end" (click)="onAnularControl(control.id)" style="padding-right: 10px;">
                  <ion-icon  name="close-outline"></ion-icon>
                </ion-button>
            </ion-item-divider>
            <ion-grid fixed>
              <ion-row>
                <ion-col size="12" size-lg="6">
                  <ion-item>
                      <ion-label>{{'General.Fecha' | translate}}</ion-label>
                      <ion-label>{{control.fecha | date: 'd/MM/yy, H:mm'}}</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="12" size-lg="6">
                  <ion-item button [routerLink]="['../control', control.id ,'mediciones']" detail="true">
                      <ion-icon name="clipboard"></ion-icon>
                      {{'General.Mediciones' | translate}}
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>    
        </ion-list>
      </div>
      <ion-row>
        <ion-col style="text-align: center;">
          <ion-label *ngIf="controles.length == 0"><b>{{'Control.NohayControlesRealizadosAun' | translate}}</b></ion-label>
        </ion-col>
      </ion-row>

    </div>

    <div *ngSwitchCase="'mapa'">
      <div #map id="map" ></div>
    </div>

  </div>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed"> <!-- *ngIf="visita.empleadoId != null && visita.empleadoId == currentUser.empleadoId"> -->
    <ion-fab-button  style="opacity: 0.5">
      <ion-icon md="caret-up" ios="chevron-up-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="primary" (click)="onAgregarControl()">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="warning" *ngIf="visita" [routerLink]="['/irregularidad','establecimiento', visita?.establecimientoId ,'alta']">
        <ion-icon name="alert-circle-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="success" (click)="completarVisita()">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="tertiary" (click)="generarPDF()">
        <ion-icon name="document-text-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="danger" (click)="cancelarVisita()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
</ion-fab>
</ion-content>
