<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="{{'General.Atras' | translate}}" defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ionic-selectable
      item-content
      [(ngModel)]="tipoLicenciaSeleccionado"
      itemValueField="id"
      itemTextField="nombre"
      [items]="tiposLicencias"
      [canClear]="true"
      [isMultiple]="false"
      name="tipoLicenciaSeleccionado"
      [canSearch]="true"
      placeholder="{{'Licencia.Tipo_Licencia' | translate}}">
    </ionic-selectable>
  </ion-item>
  <form #form="ngForm" (ngSubmit)="onSubmit(form)" *ngIf="tipoLicenciaSeleccionado">
    <ion-item-divider color="secondary">
      <ion-label>
        {{'Licencia.Actualizar.title' | translate}}
      </ion-label>
    </ion-item-divider>
    <ion-row>
      <ion-col size="12" size-lg="6">
        <ion-item>
          <ion-label>{{'Licencia.Precio' | translate}} </ion-label>
          <ion-label slot="end">{{tipoLicenciaSeleccionado.precioActual}}</ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="12" size-lg="6">
        <ion-item>
          <ion-label>{{'Licencia.Precio_Nuevo' | translate}}</ion-label>
          <ion-input placeholder="{{'Licencia.Precio_Nuevo' | translate}}" type="number" name="precionuevo" [(ngModel)]="precionuevo" slot="end" required></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" size-lg="8" offset-lg="2" class="ion-text-center" style="margin-top: 3em;">
        <ion-button type="submit" shape="round" expand="block" fill="solid" [disabled]="form.invalid">{{'Accion.Modificar' | translate}}</ion-button>
      </ion-col>
    </ion-row>

  </form>
</ion-content>


