<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Atras" defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Nombre</ion-label>
            <ion-label><b>{{tipoEquipo.equipoMedicionNombre}}</b></ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Cantidad</ion-label>
            <ion-input type="number" name="cantidadAAgregar" [(ngModel)]="cantidadAAgregar" min="0" slot="end"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
  </ion-list>

  <ion-button expand="block" fill="clear" shape="round" (click)="actualizarCantidadEquipoMedicion()">
    Actualizar Cantidad
  </ion-button>

</ion-content>
