<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Atras" defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher> 
  
  <ion-list>
    <ion-item *ngFor="let medicion of mediciones">
      <ion-label>{{medicion.nombre + ': '}}</ion-label>
      <ion-label>{{medicion.valor}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
