<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="{{'General.Atras' | translate}}" defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row class="table-header-row">
      <ion-col size-xs="4" size-sm="3">
        {{'Cliente.Cliente' | translate}}
      </ion-col>
      <ion-col size-xs="3" size-sm="2">
        {{'Licencia.Tipo_Licencia' | translate}}
      </ion-col>
      <ion-col size-xs="3" size-sm="2" class="hide-only-xs">
        {{'Licencia.Fecha_Expiracion' | translate}}
      </ion-col>
      <ion-col size-xs="3" size-sm="2">
        {{'General.Estado' | translate}}
      </ion-col>
      <ion-col size-xs="2" size-sm="2" style="text-align: center;">
        {{'Licencia.Pagos' | translate}}
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let licencia of licenciasEmpresas" class="data-row">
      <ion-col size-xs="4" size-sm="3">
        {{licencia.empresa.nombre}}
      </ion-col>
      <ion-col size-xs="3" size-sm="2">
        {{licencia.tipoLicencia.nombre}}
      </ion-col>
      <ion-col size-xs="3" size-sm="2" class="hide-only-xs">
        {{licencia.fechaFin | date: 'dd/MM/yy'}}
      </ion-col>
      <ion-col size-xs="3" size-sm="2">
        {{licencia.estado.descripcion}}
      </ion-col>
      <ion-col tappable size-xs="2" style="text-align: center;">
        <ion-button (click)="direccionarAPagos(licencia.id)" fill="clear">
          <ion-icon slot="icon-only" name="cash-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
</ion-content>