<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Atras" defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list >
  <ion-item-divider color="secondary">
    <ion-label>
      <b>Responsable</b>
    </ion-label>
    <ion-button slot="end" [routerLink]="['/cliente', cliente.id,'editar']">
      <ion-icon name="pencil-outline"></ion-icon>
    </ion-button>
  </ion-item-divider>
  <ion-item>
    <ion-label> <b>Nombre: </b> {{cliente.responsable.nombre}}</ion-label><br>
  </ion-item>
  <ion-item>
    <ion-label> <b>Apellido: </b> {{cliente.responsable.apellido}}</ion-label><br>
  </ion-item>
  <ion-item>
    <ion-label> <b>Correo Electronico: </b> {{cliente.responsable.correoElectronico}}</ion-label><br>
  </ion-item>
  <ion-item>
    <ion-label> <b>Telefono: </b> {{cliente.responsable.telefono}}</ion-label><br>
  </ion-item>
  <ion-item-divider color="secondary">
    <ion-label>
      <b>Dirección</b>
    </ion-label>
  </ion-item-divider>
  <ion-item>
    <ion-label> <b>Direccion: </b> {{cliente.direccion.calle + " " + cliente.direccion.altura}}</ion-label><br>
  </ion-item>
  <ion-item>
    <ion-label> <b>Partido: </b> {{cliente.direccion.partidoNombre}}</ion-label><br>
  </ion-item>
  <ion-item>
    <ion-label> <b>Provincia: </b> {{cliente.direccion.provinciaNombre}}</ion-label><br>
  </ion-item>
  <ion-item-divider color="secondary">
    <ion-label>
      <b>Detalles</b>
    </ion-label>
  </ion-item-divider>
  <ion-item button [routerLink]="['/cliente', cliente.id,'planes']" detail="true">
    <ion-icon name="document-text"></ion-icon>
      Planes
  </ion-item>
  <ion-item button [routerLink]="['/cliente', cliente.id,'establecimientos']" detail="true">
    <ion-icon name="home"></ion-icon>
      Establecimientos
  </ion-item>
</ion-list>
</ion-content>

