<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="{{'General.Atras' | translate}}" defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form #form="ngForm" (ngSubmit)="altaVisita(form)" >
    <ion-item-divider color="secondary">
      <ion-label>
      Visita
      </ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label position="stacked">Establecimientos</ion-label>
      <ion-select style="width: max-content;" name="establecimientoSeleccionado" [(ngModel)]="establecimientoSeleccionado" placeholder='Establecimiento' required>
        <ion-select-option *ngFor="let establecimiento of establecimientos" [value]="establecimiento.id">{{establecimiento.nombre}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Tipo Visita</ion-label>
      <ion-select style="width: max-content;" name="tipoVisitaSeleccionada" [(ngModel)]="tipoVisitaSeleccionada" placeholder='Tipo Visita' required>
        <ion-select-option *ngFor="let tipoVisita of tiposVisitas" [value]="tipoVisita.id">{{tipoVisita.descripcion}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Mes Pactado</ion-label>
      <ion-datetime [(ngModel)]="mesPactado" displayFormat="MM" required></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Año Pactado</ion-label>
      <ion-datetime [(ngModel)]="anioPactado" displayFormat="YYYY" [min]="anioInicial" [max]="anioInicial + 1" required></ion-datetime>
    </ion-item>
    <ion-button shape="round" fill="outline" [disabled]="form.invalid">Agregar Visita</ion-button>
  </form>
</ion-content>