<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="{{'General.Atras' | translate}}" defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
<seleccionar-ubicacion-control #seleccionUbicacionComponent [idEstablecimiento]="idEstablecimiento" [idVisita]="idVisita" 
  [ubicaciones]="ubicaciones"></seleccionar-ubicacion-control>

<form #form="ngForm" (ngSubmit)="onSubmit(form)" >
  <ion-item-divider color="primary">
    <ion-label>{{'General.Mediciones' | translate }}</ion-label>
  </ion-item-divider>
  <ion-item>
    <ion-label position="stacked">{{'Control.Incendio.PuestaATierra' | translate }}:</ion-label>
    <ion-select name="puestaATierra" [(ngModel)]="model.puestaATierra" placeholder="{{'Control.Incendio.PuestaATierra' | translate }}" required>
      <ion-select-option [value]=true>{{'General.Si' | translate }}</ion-select-option>
      <ion-select-option [value]=false>{{'General.No' | translate }}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">{{'Control.Incendio.TablerosElectricosconTapa' | translate }}:</ion-label>
    <ion-select name="tablerosElectricosTapados" [(ngModel)]="model.tablerosElectricosTapados" placeholder="{{'Control.Incendio.TablerosElectricosconTapa' | translate }}" required>
      <ion-select-option [value]=true>{{'General.Si' | translate }}</ion-select-option>
      <ion-select-option [value]=false>{{'General.No' | translate }}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">{{'Control.Incendio.UtilizaciondeProteccionesElectricas' | translate }}:</ion-label>
    <ion-select name="proteccionesElectricas" [(ngModel)]="model.proteccionesElectricas" placeholder="{{'Control.Incendio.UtilizaciondeProteccionesElectricas' | translate }}Protecciones Electricas" required>
      <ion-select-option [value]=true>{{'General.Si' | translate }}</ion-select-option>
      <ion-select-option [value]=false>{{'General.No' | translate }}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">{{'Control.Incendio.AislanteElectrico' | translate }}:</ion-label>
    <ion-select name="aislanteElectrico" [(ngModel)]="model.aislanteElectrico" placeholder="{{'Control.Incendio.AislanteElectrico' | translate }}" required>
      <ion-select-option [value]=true>{{'General.Si' | translate }}</ion-select-option>
      <ion-select-option [value]=false>{{'General.No' | translate }}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button expand="block" type="submit" expand="block" fill="solid" shape="round" [disabled]="form.invalid">
    Agregar Control a Visita
  </ion-button>
</form>

</ion-content>
