<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Atras" defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <ion-item-divider color="secondary">
      <ion-label>
        Empresa
      </ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input
        placeholder="Nombre"
        name="Nombre"
        [(ngModel)]="empresaModel.nombre"
        required></ion-input>
    </ion-item>
    <ion-item-divider color="tertiary">
      <ion-label>
        Dirección
      </ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label position="stacked">Calle</ion-label>
      <ion-input
        placeholder="Calle"
        name="direccion.Calle"
        [(ngModel)]="empresaModel.direccion.calle" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Altura</ion-label>
      <ion-input
        placeholder="Altura"
        name="direccion.Altura"
        [(ngModel)]="altura" required OnlyNumberInputDirective></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Provincia</ion-label>
      <ion-select style="width: max-content;" name="provinciaSeleccionada" [(ngModel)]="provinciaSeleccionada" placeholder='Provincia' 
        (ngModelChange)="actualizarPartidos($event)" required>
        <ion-select-option *ngFor="let provincia of provincias; let i = index" [value]="provincia" selected="i === 0">{{provincia.nombre}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="provinciaSeleccionada!= null">
      <ionic-selectable
        item-content
        [(ngModel)]="partidoSeleccionado"
        itemValueField="id"
        itemTextField="nombre"
        [items]="partidos"
        [canClear]="true"
        [isMultiple]="false"
        name="partidosSeleccionados"
        [canSearch]="true"
        placeholder="Partido" required>
      </ionic-selectable>
    </ion-item>

    <ion-item-divider color="tertiary">
      <ion-label>
        responsable
      </ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input
        placeholder="Nombre"
        name="responsable.Nombre"
        [(ngModel)]="empresaModel.responsable.nombre" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Apellido</ion-label>
      <ion-input
        placeholder="Apellido"
        name="responsable.Apellido"
        [(ngModel)]="empresaModel.responsable.apellido" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Correo Electronico</ion-label>
      <ion-input type="email"
        placeholder="Correo Electronico"
        name="responsable.CorreoElectronico"
        [(ngModel)]="empresaModel.responsable.correoElectronico" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-z]{2,4}$"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Telefono</ion-label>
      <ion-input
        placeholder="Telefono"
        name="responsable.Telefono"
        [(ngModel)]="empresaModel.responsable.telefono" required></ion-input>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-avatar
          class="item-avatar center"
          style="border: black; border-style: solid;"
          (click)="selectImageSource()">
          <ion-img [src]="imageBase64" *ngIf="imageBase64 != null"></ion-img>
          <ion-img
            src="./../../../assets/img/sorry-image-not-available.png"
            *ngIf="imageBase64 == null"></ion-img>
        </ion-avatar>
      </ion-row>
    </ion-grid>

    <ion-button type="submit" shape="round" fill="outline" slot="end" [disabled]="form.invalid">Alta Empresa</ion-button>
  </form>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <input
      type="file"
      #fileInput
      (change)="uploadFile($event)"
      hidden="true"
      accept="image/*"
    />
  </ion-fab>
</ion-content>
