  <ion-item>
    <ionic-selectable
      item-content
      [(ngModel)]="ubicacionSeleccionada"
      itemValueField="id"
      itemTextField="nombre"
      [items]="ubicaciones"
      [canClear]="true"
      [isMultiple]="false"
      name="ubicacionSeleccionada"
      [canSearch]="true"
      placeholder="Ubicacion">
    </ionic-selectable>
  </ion-item>
  <ion-item *ngIf="!ubicacionSeleccionada">
    <ion-label>Obtener Ubicación por QR</ion-label>
    <ion-button (click)="startScan()" slot="end">
      <ion-icon name="qr-code-outline"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-col size="6" offset="3">

    <video #video [hidden]="!scanActive" width="50%"></video>
  
    <canvas #canvas hidden></canvas>
  </ion-col>

  <!-- Stop our scanner preview if active -->
  <ion-button expand="full" (click)="stopScan()" color="danger" *ngIf="scanActive">
    <ion-icon slot="start" name="close"></ion-icon>
    Stop scan
  </ion-button>
