.tarjeta {
    width: 90%;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    background-color: ghostwhite;
    border-radius: 15px;
    border:solid
}

.tarjeta hr{
    background-color: black;
    height: 1.5px;
}

.tarjeta ion-col {
    font-size: small;
    color: black;
}