<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Atras" defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="card-background-page">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-searchbar (ionChange)="onBuscarClienteChange($event)"></ion-searchbar>

  <ion-card *ngFor="let cliente of clientes | filtro: textoBuscar: 'nombre'" [routerLink]="[cliente.id, 'detalle']" >
    <img [src]="cliente.urlFoto"/>
    <div class="card-title"><b>{{cliente.nombre}}</b></div>
    <div class="card-subtitle"><b>Cantidad Establecimientos: </b>{{cliente.cantidadEstablecimientos}}</div>
    <!-- <div class="card-">Cantidad Planes: {{cliente.CantidadPlanes}}</div> -->
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['alta']" >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
