<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Atras" defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="card-background-page">

  <ion-card *ngFor="let cliente of clientes" [routerLink]="[cliente.id, 'detalle']" >
    <img [src]="cliente.urlFoto"/>
    <div class="card-title">{{cliente.nombre}}</div>
    <div class="card-subtitle">28 Establecimientos</div>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['alta']" >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
