<ion-content>

  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openLanguagePopover($event)" color="Light">
      <ion-icon name="earth"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <form #form="ngForm" (ngSubmit)="login(form)">
    
    <ion-grid>
      <ion-row>
        <ion-col size-lg="4" size-md="6" size-sm="8" size-xs="10" offset-xs="1" offset-sm="2" offset-md="3" offset-lg="4">
          <div class="login-box vertical-center">
            <ion-item>
              <ion-label position="stacked">{{'General.CorreoElectronico' | translate}}</ion-label>
              <ion-input name="email" type="email" placeholder="{{'General.CorreoElectronico' | translate}}" ngModel required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-z]{2,4}$"></ion-input>
            </ion-item>
          
            <ion-item>
              <ion-label position="stacked">{{'Login.Password' | translate}}</ion-label>
              <ion-input name="password" type="password" placeholder="{{'Login.Password' | translate}}" ngModel required></ion-input>
            </ion-item>
          
            <ion-button class="full-login-button" expand="block" shape="round" type="submit" [disabled]="form.invalid" style="margin-top: 6vh; margin-bottom: 4vh;"margin-top>
              {{'Login.Login' | translate}}
            </ion-button>

            <div style="text-align: center; padding-bottom: 1em;">
              <a [routerLink]="['solicitarforgotPassword']">
                {{'Login.ForgotPassword' | translate}}
              </a>
            </div>
            
            <ion-button class="outline-login-button" expand="block" shape="round" fill="outline" [routerLink]="['/empresa','alta']" margin-top>
              {{'Login.RegistrarEmpresa' | translate}}
            </ion-button>
            
          </div>
          <br>
          <div style="text-align: center">
            <ion-label style="color: gray;">v1.2.1</ion-label>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>



  </ion-content>
