<ion-grid text-center>
</ion-grid>
<ion-card class="welcome-card">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="8" offset-xs="2">
        <ion-img src="../../../../assets/img/logo.png" style="max-height: 15em;max-width: 15em;"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-card-header>
    <ion-card-title>{{'Licencia.Licencia' | translate}} {{tipoLicencia.nombre}}</ion-card-title>
    
    <ion-row>
      <ion-col>
        <ion-label>{{'Licencia.Cantidad_Meses' | translate}}</ion-label>
        <ion-select [(ngModel)]="cantidadMeses" multiple="false" placeholder="{{'Licencia.Cantidad_Meses' | translate}}">
          <ion-select-option [value]=1>{{'Licencia.Cantidad_Meses_Dinamico' | translate:'{cantidad: 1}'}}</ion-select-option>
          <ion-select-option [value]=3>{{'Licencia.Cantidad_Meses_Dinamico' | translate:'{cantidad: 3}'}}</ion-select-option>
          <ion-select-option [value]=6>{{'Licencia.Cantidad_Meses_Dinamico' | translate:'{cantidad: 6}'}}</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>{{'Licencia.PagoTotal' | translate}}</ion-col>
      <ion-col> {{cantidadMeses * tipoLicencia.precioActual}} </ion-col>
    </ion-row>
  </ion-card-header>
  <ion-card-content>
    <form action="/" method="post" id="payment-form">
      <div class="form-row">
        <div id="card-element"> <!-- a Stripe Element will be inserted here. --> </div>
        <!-- Used to display Element errors -->
        <div id="card-errors" role="alert"></div>
      </div>
      <ion-button type="submit" color="success" expand="full">{{'Licencia.RealizarPago' | translate}}</ion-button>
    </form>
  </ion-card-content>
</ion-card>
