<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Atras" defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form #form="ngForm" (ngSubmit)="onSubmit(form)" >
      <ion-item-divider color="secondary">
        <ion-label>
         Equipo Medicion
        </ion-label>
      </ion-item-divider>
        <ion-item>
          <ion-label position="stacked">Nombre</ion-label>
          <ion-input placeholder="Nombre" name="Nombre" [(ngModel)]="equipoMedicionModel.nombre" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Cantidad</ion-label>
          <ion-input placeholder="Cantidad" name="cantidad" [(ngModel)]="cantidad" OnlyNumberInputDirective></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Tipo Equipo Medicion</ion-label>
          <ion-select style="width: max-content;" name="equipoMedicionModel.tipoEquipoMedicionId" [(ngModel)]="equipoMedicionModel.tipoEquipoMedicionId" placeholder='Tipo'>
            <ion-select-option *ngFor="let tipo of tiposEquipoMedicion" [value]="tipo.id">{{tipo.descripcion}}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-button type="submit" shape="round" fill="outline" slot="end">Alta Equipo Medicion</ion-button>
  
    </form>
  </ion-content>