<ion-menu contentId="main-content" type="overlay">
  <ion-content>
    <ion-list id="inbox-list">

      <ion-item lines="none">  
        <ion-avatar slot="start">  
          <!-- <img src="currentUser.urlFotoEmpresa">   -->
        </ion-avatar>  
        <!-- <ion-label>{{currentUser.name}}</ion-label>   -->
        <ion-label>Fernando Alvarez</ion-label>  
        
      </ion-item>  


      <ion-menu-toggle auto-hide="false" *ngFor="let p of MenuItems | async ; let i = index">
        <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="p.url" lines="none" 
        detail="false" [class.selected]="selectedIndex == i" *appHasRole="p.role">
          <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
          <ion-label>{{ p.name | translate }}</ion-label>
        </ion-item>
      </ion-menu-toggle>

    </ion-list>


  </ion-content>
</ion-menu>


