<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Atras" defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <ion-item-divider color="secondary">
      <ion-label>
        Establecimiento
      </ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input
        placeholder="Nombre"
        name="Nombre"
        [(ngModel)]="model.nombre"
        required
      ></ion-input>
    </ion-item>
    <ion-item-divider color="tertiary">
      <ion-label>
        <b>Direccion</b>
      </ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label position="stacked">Calle</ion-label>
      <ion-input
        placeholder="Calle"
        name="direccion.Calle"
        [(ngModel)]="model.direccion.calle"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Altura</ion-label>
      <ion-input
        type="number"
        placeholder="Altura"
        name="direccion.Altura"
        [(ngModel)]="model.direccion.altura"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Provincia</ion-label>
      <ion-select style="width: max-content;" name="provinciaSeleccionada" [(ngModel)]="provinciaSeleccionada" placeholder='Provincia' 
        (ngModelChange)="actualizarPartidos($event)">
        <ion-select-option *ngFor="let provincia of provincias; let i = index" [value]="provincia" selected="i === 0">{{provincia.nombre}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="provinciaSeleccionada!= null">
      <ionic-selectable
        item-content
        [(ngModel)]="partidoSeleccionado"
        itemValueField="id"
        itemTextField="nombre"
        [items]="partidos"
        [canClear]="true"
        [isMultiple]="false"
        name="partidosSeleccionados"
        [canSearch]="true"
        placeholder="Partido"
      >
      </ionic-selectable>
    </ion-item>
    <ion-item-divider color="secondary">
      <ion-label>
        <b>Ubicaciones</b>
      </ion-label>
    </ion-item-divider>
    <ion-row style="margin-top: 1em; margin-left: 1em;">
      <ion-fab-button (click)="abrirModalUbicacion()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-row>
    <br />
    <ion-list>
      <ion-item-sliding
        *ngFor="let ubicacion of model.ubicaciones; let i = index">
        <ion-item>
          <ion-label
            class="ion-text-wrap"
            style="margin-left: 1em; text-align: center;">
            <h2>{{ ubicacion.nombre }}</h2>
          </ion-label>
        </ion-item>
        <ion-item-options>
          <ion-item-option
            color="danger"
            (click)="borrarUbicacionLista(i)"
            expandable>
            Delete
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <ion-button type="submit" shape="round" fill="outline" slot="end">Alta</ion-button>
  </form>
</ion-content>
