<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Atras" defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
  <ion-list>
    <ion-item lines="none">
      <ion-label>Establecimiento:</ion-label>
      <ion-label>{{model.nombre}}</ion-label>
    </ion-item>
    <ion-item-divider color="primary">
      <ion-label>Ubicaciones</ion-label>
    </ion-item-divider>
    <ion-item-sliding
      *ngFor="let ubicacion of model.ubicaciones; let i = index">
      <ion-item>
        <ion-label
          class="ion-text-wrap"
          style="margin-left: 1em; text-align: center;">
          <h2>{{ ubicacion.nombre }}</h2>
        </ion-label>
      </ion-item>
      <ion-item-options>
        <ion-item-option color="primary" (click)="verQRUbicacion(ubicacion)">
          <!-- <ion-icon name="qr-code-outline"></ion-icon> -->
          Ver QR
        </ion-item-option>
        <ion-item-option
          color="danger"
          (click)="borrarUbicacion(ubicacion)"
          expandable>
          Delete
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>