<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Atras" defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

<ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-lg="6">
        <ion-img [src]="licencia.empresa.urlFoto"></ion-img>
      </ion-col>
       <ion-col size="12" size-lg="6">
        <ion-item>
          <ion-label>Nombre Empresa</ion-label>
          <ion-label class="labelRight" slot="end">
            {{licencia.empresa.nombre}}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Tipo Licencia</ion-label>
          <ion-label class="labelRight" slot="end">
            {{licencia.tipoLicencia.nombre}}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Fecha Expiración</ion-label>
          <ion-label class="labelRight" slot="end">
            {{licencia.fechaFin | date: 'short'}}
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-button [routerLink]="['/licencia', 'adquisicion']" expand="block" fill="clear" shape="round" slot="end">
            Adquirir Licencia
          </ion-button>
        </ion-item>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
