<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="{{'General.Atras' | translate}}" defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
<seleccionar-ubicacion-control #seleccionUbicacionComponent [idEstablecimiento]="idEstablecimiento" [idVisita]="idVisita" 
  [ubicaciones]="ubicaciones"></seleccionar-ubicacion-control>

<form #form="ngForm" (ngSubmit)="onSubmit(form)" >
  <ion-item-divider color="primary">
    <ion-label>{{'General.Mediciones' | translate }}</ion-label>
  </ion-item-divider>

  <ion-item>
    <ion-label position="stacked">{{'Control.Emisiones.SePresentaAzufreenAire' | translate}}:</ion-label>
    <ion-select name="azufreEnAire" [(ngModel)]="model.azufreEnAire" placeholder="{{'Control.Emisiones.AzufreenAire' | translate}}" required>
      <ion-select-option [value]=true>{{'General.Si' | translate }}</ion-select-option>
      <ion-select-option [value]=false>{{'General.No' | translate }}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">{{'Control.Emisiones.SePresentaNitrogenoenAire' | translate}}:</ion-label>
    <ion-select name="nitrogenoEnAire" [(ngModel)]="model.nitrogenoEnAire" placeholder="{{'Control.Emisiones.NitrogenoenAire' | translate}}" required>
      <ion-select-option [value]=true>{{'General.Si' | translate }}</ion-select-option>
      <ion-select-option [value]=false>{{'General.No' | translate }}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">{{'Control.Emisiones.SePresentaCarbonoenAire' | translate}}:</ion-label>
    <ion-select name="carbonoEnAire" [(ngModel)]="model.carbonoEnAire" placeholder="{{'Control.Emisiones.CarbonoenAire' | translate}}" required>
      <ion-select-option [value]=true>{{'General.Si' | translate }}</ion-select-option>
      <ion-select-option [value]=false>{{'General.No' | translate }}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">{{'Control.Emisiones.SePresentaHalogenosenAire' | translate}}:</ion-label>
    <ion-select name="halogenoEnAire" [(ngModel)]="model.halogenoEnAire" placeholder="{{'Control.Emisiones.HalogenosenAire' | translate}}" required>
      <ion-select-option [value]=true>{{'General.Si' | translate }}</ion-select-option>
      <ion-select-option [value]=false>{{'General.No' | translate }}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button expand="block" type="submit" expand="block" fill="solid" shape="round" [disabled]="form.invalid">
    {{'Control.AgregarControlAVisita' | translate }}
  </ion-button>
</form>

</ion-content>
