<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="{{'General.Atras' | translate}}" defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
<seleccionar-ubicacion-control #seleccionUbicacionComponent [idEstablecimiento]="idEstablecimiento" [idVisita]="idVisita" 
  [ubicaciones]="ubicaciones"></seleccionar-ubicacion-control>

<form #form="ngForm" (ngSubmit)="onSubmit(form)" >
  <ion-item-divider color="primary">
    <ion-label>{{'General.Mediciones' | translate }}</ion-label>
  </ion-item-divider>
  <ion-item>
    <ion-label position="floating">{{'Control.Sonoro.PresionSonora' | translate }}:</ion-label>
    <ion-input type="number" placeholder="{{'Control.Sonoro.ValorEndBA' | translate }}" name="presionSonora" [(ngModel)]="model.presionSonora" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">{{'Control.Sonoro.PresionSonoraMin' | translate }}:</ion-label>
    <ion-input type="number" placeholder="{{'Control.Sonoro.ValorEndBA' | translate }}" name="presionSonora" [(ngModel)]="model.presionSonoraMin" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">{{'Control.Sonoro.PresionSonoraMax' | translate }}:</ion-label>
    <ion-input type="number" placeholder="{{'Control.Sonoro.ValorEndBA' | translate }}" name="presionSonoraMax" [(ngModel)]="model.presionSonoraMax" required></ion-input>
  </ion-item>

  <ion-button expand="block" type="submit" expand="block" fill="solid" shape="round" [disabled]="form.invalid">
    {{'Control.AgregarControlAVisita' | translate }}
  </ion-button>
</form>

</ion-content>
