<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Atras" defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item-divider color="secondary">
    <ion-label>
      {{'Empleado.Empleado' | translate}}
    </ion-label>
  </ion-item-divider>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-lg="6">
        <ion-item>
          <ion-label position="stacked">{{'General.Nombre' | translate}}</ion-label>
          <ion-input placeholder="{{'General.Nombre' | translate}}" [readonly]="true" name="Nombre" [(ngModel)]="empleadoModel.nombre"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12" size-lg="6">
        <ion-item>
          <ion-label position="stacked">{{ 'General.Apellido'  | translate }}</ion-label>
          <ion-input placeholder="{{ 'General.Apellido'  | translate }}" [readonly]="true" name="responsable.Apellido" [(ngModel)]="empleadoModel.apellido"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12" size-lg="6">
        <ion-item>
          <ion-label position="stacked">{{ 'General.CorreoElectronico'  | translate }}</ion-label>
          <ion-input type="email" [readonly]="true" placeholder="{{ 'General.CorreoElectronico'  | translate }}" name="responsable.CorreoElectronico" [(ngModel)]="empleadoModel.correoElectronico" email></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12" size-lg="6">
        <ion-item>
          <ion-label position="stacked">{{'General.Roles' | translate}}</ion-label>
          <ion-input [(ngModel)]="empleadoModel.roles" [readonly]="true"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div style="text-align:center; padding-top: 2em;">
    <ion-avatar class="item-avatar" style="border: black;border-style: solid;margin:auto" >
      <ion-img [src]="imageBase64" *ngIf="imageBase64 != null"></ion-img>
      <ion-img [src]="empleadoModel.urlFoto" *ngIf="imageBase64 == null"></ion-img>
    </ion-avatar>            
  </div>
</ion-content>

