<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Atras" defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <ion-item-divider color="secondary">
      <ion-label>
        Empresa
      </ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input
        placeholder="Nombre"
        name="Nombre"
        [(ngModel)]="empresaModel.nombre"
        required></ion-input>
    </ion-item>
    <ion-item-divider color="tertiary">
      <ion-label>
        direccion
      </ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label position="stacked">Calle</ion-label>
      <ion-input
        placeholder="Calle"
        name="direccion.Calle"
        [(ngModel)]="empresaModel.direccion.calle" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Altura</ion-label>
      <ion-input
        placeholder="Altura"
        name="direccion.Altura"
        [(ngModel)]="altura" required OnlyNumberInputDirective></ion-input>
    </ion-item>

    <ion-item-divider color="tertiary">
      <ion-label>
        responsable
      </ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input
        placeholder="Nombre"
        name="responsable.Nombre"
        [(ngModel)]="empresaModel.responsable.nombre" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Apellido</ion-label>
      <ion-input
        placeholder="Apellido"
        name="responsable.Apellido"
        [(ngModel)]="empresaModel.responsable.apellido" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Correo Electronico</ion-label>
      <ion-input type="email"
        placeholder="Correo Electronico"
        name="responsable.CorreoElectronico"
        [(ngModel)]="empresaModel.responsable.correoElectronico" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-z]{2,4}$"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Telefono</ion-label>
      <ion-input
        placeholder="Telefono"
        name="responsable.Telefono"
        [(ngModel)]="empresaModel.responsable.telefono" required OnlyNumberInputDirective></ion-input>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col size="4" offset="2" >
          <ion-avatar class="item-avatar" style="border: black;border-style: solid;" (click)="selectImageSource()">
            <ion-img [src]="imageBase64" *ngIf="imageBase64 != null"></ion-img>
            <ion-img [src]="empresaModel.urlFoto" *ngIf="imageBase64 == null"></ion-img>
          </ion-avatar>            
      </ion-col>
      </ion-row>
      
    </ion-grid>

    <ion-button type="submit" shape="round" fill="outline" slot="end">Modificar Empresa</ion-button>
  </form>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <input
      type="file"
      #fileInput
      (change)="uploadFile($event)"
      hidden="true"
      accept="image/*"
    />
  </ion-fab>
</ion-content>
