<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="{{'General.Atras' | translate}}" defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <ion-item-divider color="secondary">
      <ion-label>
        {{'Empresa.Empresa' | translate}}
      </ion-label>
    </ion-item-divider>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12" size-lg="6">
          <ion-item>
            <ion-label position="stacked">{{'General.Nombre' | translate}}</ion-label>
            <ion-input
              placeholder="{{'General.Nombre' | translate}}"
              name="Nombre"
              [(ngModel)]="empresaModel.nombre"
              required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-item-divider color="tertiary">
      <ion-label>
        {{'General.Direccion' | translate}}
      </ion-label>
    </ion-item-divider>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12" size-lg="6">
          <ion-item>
            <ion-label position="stacked">{{'General.Calle' | translate}}</ion-label>
            <ion-input
              placeholder="{{'General.Calle' | translate}}"
              name="direccion.Calle"
              [(ngModel)]="empresaModel.direccion.calle" required></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12" size-lg="6">
          <ion-item>
            <ion-label position="stacked">{{'General.Altura' | translate}}</ion-label>
            <ion-input
              placeholder="{{'General.Altura' | translate}}"
              name="direccion.Altura"
              [(ngModel)]="altura" required OnlyNumberInputDirective></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-item-divider color="tertiary">
      <ion-label>
        {{'General.Responsable' | translate}}
      </ion-label>
    </ion-item-divider>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12" size-lg="6">
          <ion-item>
            <ion-label position="stacked">{{'General.Nombre' | translate}}</ion-label>
            <ion-input
              placeholder="{{'General.Nombre' | translate}}"
              name="responsable.Nombre"
              [(ngModel)]="empresaModel.responsable.nombre" required></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12" size-lg="6">
          <ion-item>
            <ion-label position="stacked">{{'General.Apellido' | translate}}</ion-label>
            <ion-input
              placeholder="{{'General.Apellido' | translate}}"
              name="responsable.Apellido"
              [(ngModel)]="empresaModel.responsable.apellido" required></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12" size-lg="6">
          <ion-item>
            <ion-label position="stacked">{{'General.CorreoElectronico' | translate}}</ion-label>
            <ion-input type="email"
              placeholder="{{'General.CorreoElectronico' | translate}}Correo Electronico"
              name="responsable.CorreoElectronico"
              [(ngModel)]="empresaModel.responsable.correoElectronico" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-z]{2,4}$"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12" size-lg="6">
          <ion-item>
            <ion-label position="stacked">{{'General.Telefono' | translate}}</ion-label>
            <ion-input
              placeholder="{{'General.Telefono' | translate}}"
              name="responsable.Telefono"
              [(ngModel)]="empresaModel.responsable.telefono" required OnlyNumberInputDirective></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div style="text-align:center; padding-top: 2em;">
          <ion-avatar class="item-avatar" style="border: black;border-style: solid;margin:auto" (click)="selectImageSource()">
            <ion-img [src]="imageBase64" *ngIf="imageBase64 != null"></ion-img>
            <ion-img [src]="empresaModel.urlFoto" *ngIf="imageBase64 == null"></ion-img>
          </ion-avatar>            
    </div>

    <ion-item>
      <ion-button type="submit" shape="round" fill="outline" slot="end">{{'Empresa.Editar.title' | translate}}</ion-button>
    </ion-item>  
  </form>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <input
      type="file"
      #fileInput
      (change)="uploadFile($event)"
      hidden="true"
      accept="image/*"
    />
  </ion-fab>
</ion-content>
