<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Atras" defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-item>
    <ion-label>{{'Cliente.EstadoPlan' | translate}}: </ion-label>
    <ion-select name="estadoPlanAFiltrarId" [(ngModel)]="estadoPlanAFiltrarId" multiple="false" placeholder="Estado Plan" (ngModelChange)="actualizarPlanesPorEstado($event)">
      <ion-select-option [value]=0>{{'General.Todos' | translate}}</ion-select-option>
      <ion-select-option *ngFor="let estadoPlan of estadosPlanesPosibles" [value]="estadoPlan.id">{{estadoPlan.descipcion}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-card class="tarjeta" *ngFor="let plan of planes" [routerLink]="['/plan',plan.plan.id, 'detalle']">
    <ion-card-header style="font-size: large;">
      <b>{{plan.plan.tipoPlan}}</b>
    </ion-card-header>
    <ion-card-content style="font-size: x-small;">
      <hr>
      <ion-grid>
        <ion-row>
          <ion-col col-12><b>{{ 'General.Estado' | translate}}:</b> {{plan.plan.estado}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12><b>{{ 'Cliente.VisitasPendientes' | translate}}:</b> {{plan.totalizados.cantidadVisitasPendientes}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col><b>{{ 'Establecimientos' | translate }}:</b> {{plan.totalizados.cantidadEstablecimientos}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col><b>{{ 'CreadoPor' | translate }}: </b> {{plan.plan.empleadoNombre}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col><b>{{ 'FechaCreacion' | translate }}: </b> {{plan.plan.fechaCreacion | date: 'shortDate'}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['alta']" >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>