<ion-header>
<!--     <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button text="Atras" defaultHref="home"></ion-back-button>
      </ion-buttons>
    </ion-toolbar> -->
  </ion-header>
  <ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-item>
      <ion-label>Estado Plan: </ion-label>
      <ion-select name="estadoPlanAFiltrarId" [(ngModel)]="estadoPlanAFiltrarId" multiple="false" placeholder="Estado Plan" (ngModelChange)="actualizarPlanesPorEstado($event)">
        <ion-select-option *ngFor="let estadoPlan of estadosPlanesPosibles" [value]="estadoPlan.id">{{estadoPlan.descipcion}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-row>
    
    <ion-col size="12" size-lg="6" size-md="6" *ngFor="let plan of planes">
      <ion-card class="tarjeta" [routerLink]="['/plan',plan.id, 'detalle']">
        <ion-card-header style="font-size: large;">
          <b>{{plan.nombreCliente + ' - ' + plan.tipoPlan}}</b>
        </ion-card-header>
        <ion-card-content style="font-size: x-small;">
          <hr>
          <ion-grid>
            <ion-row>
              <ion-col col-12><b>Estado:</b> {{plan.estado}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-12><b>Visitas Pendientes:</b> {{plan.visitasPendientes}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col><b>Establecimientos:</b> {{plan.establecimientos}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col><b>Creado Por: </b> {{plan.usuarioCreador}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col><b>Fecha Creación: </b> {{plan.fechaCreacion | date: 'shortDate'}}</ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button [routerLink]="['alta']" >
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  
  </ion-content>