.table-header-row{
    background-color:lightgrey;
    font-weight: 500;
    border-bottom: 2px solid black;
}

.data-row{
    border-bottom: 2px solid black;
}


.header .col {
    background-color:lightgrey;
  }
  
  .col {
    border: solid 1px grey;
    border-bottom-style: none;
    border-right-style: none;
  }
  
  .col:last-child {
    border-right: solid 1px grey;
  }
  
  .row:last-child .col {
    border-bottom: solid 1px grey;
  }